ISCAUTH_URL=http://localhost:3000
ISCAUTH_TWITTER_ID=
ISCAUTH_TWITTER_SECRET=
ISCAUTH_TWITTER_USERNAME=
ISCAUTH_TWITTER_PASSWORD=
ISCAUTH_GITHUB_ID=
ISCAUTH_GITHUB_SECRET=
ISCAUTH_GITHUB_USERNAME=
ISCAUTH_GITHUB_PASSWORD=
ISCAUTH_GOOGLE_ID=
ISCAUTH_GOOGLE_SECRET=
ISCAUTH_GOOGLE_USERNAME=
ISCAUTH_GOOGLE_PASSWORD=